@import url("defaults.css");


html{
    position: relative;
    min-height: 100vh;
}

.container{
    padding: 15px;
}

.home, .news, .container.about, .container.login, .container.register, .profile, .create-news{
    margin-bottom: 100px !important;
}
.header-top{
    background-color: #011836;
    padding-top: 50px;
}

.header-top img{
    margin-right: 10px;
}

.header-top .title{
    font-size: 43px;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}


.header-top .title span:nth-of-type(2){
    color: #00E1E5;
    margin-left: 6px;
}

.header-top div.container p{
    color: white;
    margin-left: 70px;
    position: relative;
    top: -6px;
}

.header-bottom {
    background-color:#00E1E5;
}

.header-bottom .navbar{
    padding: 10px 0px !important;
}
.header-bottom .container{
    display: flex;
    justify-content: space-between;
    padding: 0;
    align-items: center !important;
}

.header-bottom ul.container{
    padding: 15px 15px;
    position: relative;
    left: -10px;
    padding-bottom: 0px;
}

#link-login{
    color: white;
    text-decoration: none;
}
.header-bottom nav ul.container li{
    display: inline-block;
    margin-right: 10px;
    font-size: 18px;
}

.header-bottom li a, .header-bottom li button{
    color: white;
    padding: 10px;
}

.header-bottom ul.dropdown-menu li{
    width: 100%;
    font-size: 16px !important;
    text-align: center;
}
.header-bottom ul.dropdown-menu a{
    color: var(--color-1);
}

.header-user-menu{
    padding: 10px 15px;
}

.header-user-menu a{
    color: white;
    margin-left: 10px;
    padding: 10px;
}

.header-bottom .navbar-nav{
    padding: 0 30px !important;
}
.header-user-menu .user{
    display: flex;
    align-items: center;
    font-size: 17px;
}
#logout{
    font-size: 22px;
    margin-left: 30px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 15px;
}

.home-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-by-news input{
    border: none;
    padding: 5px 25px;
    border-bottom: 1px solid var(--color-2);

}


.search-by-news button{
    position: relative;
    right: -25px;
    background-color: transparent;
    border: none;
}

.container-news-home{
    margin-top: 50px;
}

.news-preview-home{
    display: flex;
    max-width: 1020px;
    margin: 40px auto;
    max-height: 320px;
}

.news-preview-home img{
    width: 100%;
    height: 100%;
}

.news-preview-home-image, .news-preview-home-content{
    flex: 1 1 0;
}

.news-preview-home-content{
    position: relative;
    margin-left: 15px;
    padding: 15px 0px;
}
.news-preview-home .news-preview-home-image{
    margin-right: 15px;
    height: auto;
}
.news-preview-home-head, .news-item-head {
    color: #444;
    display: flex;
    justify-content: space-between;
}



.news-preview-home-head .image-user, .news-item-head .image-user, header .image-user, .news-comments .image-user{
    width: 40px;
    border-radius: 50%;
}

.info-from-news{
    display: flex;
    align-items: center;
}

.info-from-news img{
    margin-right: 5px;
}



.news-preview-home-head .username, .news-item-head .username{
    font-size: 13px;
}

.news-preview-home-head .info-datetime, .news-item-head .info-datetime{
    font-size: 10px;
}

.news-preview-home-body{
    margin: 15px 0px;
}

.news-preview-home-body .news-title{
    font-weight: 400;
    font-size: 20px;
    color: rgb(45, 43, 43);
}

.news-preview-home-body .news-subject{
    color: #444444;
    font-size: 14px;
    margin: 15px 0px;
}
.news-preview-home-footer, .news-item-footer, .news-mini-preview-footer{
    padding-top: 10px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgba(128, 128, 128, 0.425);
    position: absolute;
    bottom: 0;
    width: calc(100% - 35px);
}

.views-info, .views-comment{
    margin-right:10px;
}

.likes-info{
    cursor: pointer;
}
.likes-info i{
    color: red;
    margin-left: 5px;
}
.about{
    max-width: 900px;
    margin: 0px auto;
}

.about h2{
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 20px;
}

.about .stacks{
    margin-top: 40px;
}

.about .stacks li{
    margin: 10px 0px;
    list-style: circle;
}

.news .home-top{
    margin: 0 auto;
    max-width: 900px;
    margin-bottom: 80px;
}

.news-item{
    max-width: 900px;
    margin: 0 auto;
}

.news-item-body{
    margin-top: 40px;
}

.news-item-title{
    font-size: 28px;
    font-weight: 400;
}

.news-item-subject{
    font-size: 17px;
    line-height: 1.4em;
    margin-bottom: 30px;
}


.news-item-image {
    width: 100%;
    height: 500px;
}
.news-item-image img{
    width: 100%;
    height: 100%;
}

.news-item-footer, .news-mini-preview-footer{
    position: relative;
    width: 100%;
    margin-top: 30px;
}

.news-item .likes-info{
    font-size: 15px;
}

.container-news-mini-preview{
    max-width: 1000px;
    margin: 0px auto;
    margin-top: 80px;
}

.container-news-mini-preview .items{
    display: flex;
    flex-wrap: wrap;
}
.mini-preview-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.mini-preview-top a{
    color: black;
    padding: 10px;
}

.container-news-mini-preview .items{
    margin-top: 30px;
}

.news-mini-preview{
    max-width: 288px;
    margin-right: 30px;
    margin-bottom: 60px;
}

.news-mini-preview a{
    color: black;
}

.news-mini-preview-image img{
    width: 100%;
}

.news-mini-preview-title{
    font-size: 15px;
    font-weight: 400;
    margin-top: 15px;
    padding: 10px;
}

.news-mini-preview .news-mini-preview-footer{
    margin-top: 10px;
}
.news-mini-preview-footer span{
    display: inline-flex;
    align-items: center;
}
.news-mini-preview-footer span i{
    margin-right: 6px;
}



.login, .register{
    max-width: 550px;
    margin: 30px auto;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    height: max-content;
}

.form-login, .form-register{
    width: 100%;
    background-color: white;
    padding: 40px;
    text-align: center;
    height: max-content;
    box-shadow: 0 10px 34px -15px rgb(0 0 0 / 24%);
    border-radius: 5px;

}
.form-login-head h2, .form-register-head h2{
   margin: 15px 0px;
   font-size: 25px;
   color: var(--color-1);
}


.form-login-body, .form-register-body{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.form-login-body label, .form-register-body label{
    position: relative;
    width: 100%;
}

.form-login-body i, .form-register-body i{
    position: absolute;
    top: 11px;
    left: 10px;
    color: var(--color-2);
}
.form-login-body input , .form-login-body select, .form-register-body input, .form-register-body select{
    border-radius: 5px;
    border: 2px solid #ebf2f7;
    margin-bottom: 15px;
    width: 100%;
    font-size: 17px;
    padding: 8px 38px;
}

.form-login-body input:focus, .form-register-body input:focus{
    border: 2px solid var(--color-2);
    transition: 0.3s;

}
.form-login-body button, .form-register-body button{
    background-color: var(--color-2);
    font-size: 19px;
    margin-top: 15px;
    border: none;
}




.form-login-body .links, .form-register-body .links{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    font-size: 15px;
}

.form-login-body .links a, .form-register .links a{
    padding: 10px 0px;
    color: var(--color-1);
}

footer{
    position: absolute;
    bottom: 0;
    background-color: #ECE7E7;
    color: #444444;
    width: 100%;
    padding: 15px;
    text-align: center;

}

footer p{
    margin: 0;
}

footer a{
    color: #444444;
    padding: 10px;
    position: relative;
    font-size: 14px;
}

.alert{
    padding: 12px !important;
}

.hide-message{
    padding: 0 !important;
    margin: 0 !important;
    opacity: 0;
    transition: 0.2s;
}

.show-message{
    padding: 12px;
    margin-bottom: 18px !important;
    opacity: 1;
    transition: 0.2s;
}

.profile input[type="text"], .profile input[type="email"]{
    border: none;
    padding: 8px 15px;
    border-radius: 30px;
    color: #444;
}

.profile input[type="text"]:focus, .profile input[type="email"]:focus {
    border: 1px solid var(--color-2);
    transition: 0.2s;
    padding: 7px 14px;
    color: black;
}

.profile #image-user{
    width: 150px;
    height: 150px;
}

.new-news{
    width: 60%;
    margin: 0 auto;
}

.create-news{
    max-width: 900px;
    margin: 40px auto;
}

#create-news{
    margin-top: 15px;
}

blockquote{
    border-left: 4px solid gray;
    padding: 8px;
}

.news-comments{
    margin: 0 auto;
    max-width: 700px;
}

.news-comments .title{
    padding: 18px 0px;
    border-bottom: 1px solid #4444;
    width: 100%;
    display: block;
    margin-bottom: 35px;
}

.news-comment-create{
    margin-bottom: 30px;
}

.news-comment-create, .news-comment-item{
    display: flex;
}
.news-comments img{
    height: 40px;
    margin-right: 10px;
}

.news-comment-create .news-comment-create-content{
    border: 1px solid gray;
    width: 100%;
    padding: 10px;
}

.news-comment-create textarea{
    width: 100%;
    height: auto;
    resize: none;
    outline: none;
    height: 60px;
    border: none;
}

.news-comment-create-controls{
    text-align: right;
}


.news-comment-item{
    margin-bottom: 30px;
    color: #444444;
}

.news-comment-item .username{
    font-size: 13px;
    color: #444444;
    padding: 10px;
}

.news-comment-item .post-date{
    font-size: 12px;
    margin-left: 10px;
}

.news-comment-item-body{
    font-size: 15px;
    line-height: 1.7em;
}

#post-comment{
    font-size: 12px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.news-comments #more-comments{
    padding: 10px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    border-top: 1px solid #4444;
}