@media (max-width:992px){
    .container.home{
        min-width: 100% !important;
        padding: 20px 30px;
    }
}

@media (max-width:800px){
    .news-preview-home{
        flex-direction: column;
        max-height: none;
    }
    .news-preview-home-footer{
        position: static;
    }

    .news-preview-home-content{
        padding: 15px 0px;
        margin-left: 0px !important;
    }

    .news-preview-home-image{
        margin-right: 0px !important;
    }

    .container.news{
        padding: 30px;
    }
}


@media (max-width:770px){
    .news-mini-preview{
        margin-right: 0px;
    }
}


@media (max-width:512px){
    .home-top{
        flex-direction: column;
        justify-content: center;
    }

    .home-top span{
        margin-bottom: 18px;
    }

    .news-item-title{
        font-size: 22px;
    }

    .news-item-subject{
        font-size: 15px;
    }
}

@media (max-width:480px){
    .header-top .title{
        font-size: 35px;
    
    }

    .header-top img{
        width: 40px;
    }
    
}